<a href="https://colab.research.google.com/github/Samuyel-256/PYTHON-CRT/blob/main/PYTHON_CRT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# How to run python on vs Code :

# first we have to save a file in the name of .py in vs code and next click on terminal and new terminal in that we type "PYTHON FILENAME.PY" to run code in vs code

In [11]:
# INPUT & OUTPUT FUNCTIONS :

#-------------------------------------------------------------#

# How to take Input function :

# variable=input()

#-------------------------------------------------------------#

# How to take Output function :

# To get the output we use : print() function

# EX : for input and output function

#-------------------------------------------------------------#

a=input()
print(a)

samuyel
samuyel

In [10]:
# VARIABLES :

# # It is used to store the data.
# It is a container to store data so that we can use for further statements

# EX :

lp1=50000
lp2=60000
sum=lp1+lp2
print(sum)

# Here lp1 and lp2 are the variables to store the data

110000

In [12]:
# DATA TYPES IN PYTHON :

# 1. INT     : 1,-1,3 ( also called integer )
# 2. FLOAT   : 1.24 , -3.14
# 3. STRING  : samuyel , SAMUYEL
# 4. BOOLEAN : true / false

# EX :

# INT
age = 20

# FLOAT
height = 5.9

# STRING
name = "Samuyel"

# BOOLEAN
is_adult = age >= 18

# OUTPUT
print("Name        :", name)
print("Age         :", age)
print("Height (ft) :", height)
print("Is Adult?   :", is_adult)

Name        : Samuyel
Age         : 20
Height (ft) : 5.9
Is Adult?   : True

In [16]:
# # # CONDITIONS IN PYTHON :

#-------------------------------------------------------------#

# TYPES :
# 1. IF CONDITION
# 2. ELSE CONDITION
# 3. ELIF CONDITION
# 4. NESTED IF CONDITION (IF ELIF ELSE)

#-------------------------------------------------------------#

# # IF CONDITION :
# if is used to run code only when a certain condition is true.

# # ELIF CONDITION :
# elif (else if) is used when you want to check multiple conditions one after another.

# # NESTED IF CONDITION
# Nested if means placing one if, elif, or else inside another — like decision inside a decision.

# # ELSE CONDITION
# else is used to run code when all the above conditions fail. It's like the final "otherwise" block.

#-------------------------------------------------------------#

# Syntax :

#  if Condition :
#      block of statement
#  elif condition :
#      block of statement
#  else :
#      block of statement

#-------------------------------------------------------------#

#EX :
age = int(input())
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

-1
not eligible for voting

In [18]:
# TO FIND THE SECOND MAXIMUM NUMBER :

a,b,c=map(int,input().split())

if (a > b and a < c) or (a < b and a > c):
    print("Second maximum is:", a)
elif (b > a and b < c) or (b < a and b > c):
    print("Second maximum is:", b)
else:
    print("Second maximum is:",c)

1 2 3
Second maximum is: 2

In [19]:
# TO FIND SCHOLAR SHIP USING NESTED IF :

marks = int(input("Enter marks: "))
income = int(input("Enter income: "))

if marks > 85:
    if income > 200000 and income < 500000:
        print("You are eligible for scholarship")
else:
    print("Not eligible")

Enter marks: 87
Enter income: 300000
You are eligible for scholarship

In [12]:
# AGE :

a = int(input("enter age : "))
if a >= 1 and  a <= 12 :
    print("child")
elif a >= 13 and  a <= 19:
    print("teen age")
elif a >= 20 and  a <= 35:
    print("young")
else:
    print("old")

enter age : 55
old

In [ ]:
# # LOOPS :

# #-------------------------------------------------------------#

# # UNIVERSAL LANGUAGE SYNTAX FOR "C"
# # for (initialisation;condition;step) {
# #     block of statement
# # }

# #-------------------------------------------------------------#

# # PYTHON LANGUAGE SYNTAX

# # FOR LOOP :
# # for i in range(start,end,step):
# #     block of statement

# #-------------------------------------------------------------#

# # WHILE LOOP :
# while condition:
#     block of statement
#     step

In [20]:
# FOR LOOP EX'S :

# EX 1: FOR PYTHON
for i in range(1,10,2):
    print(i)

#-------------------------------------------------------------#

# EX 2: FOR PYTHON
for i in range(10,0,-1):
    print(i)

1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

In [11]:
# EX 1: WHILE LOOP
i = 1
while i < 11:
    print(i)
    i += 1

#-------------------------------------------------------------#

# EX 1: WHILE LOOP
i = 10
while i >= 1:
    print(i)
    i-= 1

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

In [14]:
a=17%2
print(a)

1

In [1]:
# REVERSE A NUMBER :

num = 123
rev = 0

while num != 0:
    temp = num % 10
    rev = rev * 10 + temp
    num = num // 10
print("Reversed Number:", rev)

Reversed Number: 321